In [1]:
#Dependencies
import pandas as pd
import numpy as np
import plotly.plotly as py
from patsy import dmatrices
import statsmodels.api as sm
import matplotlib.pyplot as plt

#CSV File to load
file_to_load = "./Data_dc-residential-properties/DC_Properties.csv"
#print ('goodpath')

#Read file and store into Pandas DF. Scatter plots with price and 
real_estate_data_pd = pd.read_csv(file_to_load)
real_estate_data_pd.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning:

Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [2]:
#Clean DF to remove all unrelated variables
isolated_pd = real_estate_data_pd.drop(columns=["Unnamed: 0", "NUM_UNITS", "ROOMS",
                                                "AYB", "YR_RMDL", "EYB","CITY","STATE", "STORIES", "SALE_NUM", 
                                                "BLDG_NUM", "GRADE", "CNDTN", "EXTWALL", "ROOF", "INTWALL",
                                                "KITCHENS", "FIREPLACES", "USECODE", "GIS_LAST_MOD_DTTM",
                                                "CMPLX_NUM", "ASSESSMENT_NBHD", "ASSESSMENT_SUBNBHD", 
                                                "CENSUS_TRACT", "CENSUS_BLOCK", "QUADRANT", "X", "Y"])
isolated_pd.head()

,BATHRM,HF_BATHRM,HEAT,AC,BEDRM,SALEDATE,PRICE,QUALIFIED,GBA,STYLE,...,LANDAREA,SOURCE,LIVING_GBA,FULLADDRESS,ZIPCODE,NATIONALGRID,LATITUDE,LONGITUDE,WARD,SQUARE
0,4,0,Warm Cool,Y,4,2003-11-25 00:00:00,1095000.0,Q,2522.0,3 Story,...,1680,Residential,NaN,1748 SWANN STREET NW,20009.0,18S UJ 23061 09289,38.914680,-77.040832,Ward 2,152
1,3,1,Warm Cool,Y,5,2000-08-17 00:00:00,NaN,U,2567.0,3 Story,...,1680,Residential,NaN,1746 SWANN STREET NW,20009.0,18S UJ 23067 09289,38.914683,-77.040764,Ward 2,152
2,3,1,Hot Water Rad,Y,5,2016-06-21 00:00:00,2100000.0,Q,2522.0,3 Story,...,1680,Residential,NaN,1744 SWANN STREET NW,20009.0,18S UJ 23074 09289,38.914684,-77.040678,Ward 2,152
3,3,1,Hot Water Rad,Y,5,2006-07-12 00:00:00,1602000.0,Q,2484.0,3 Story,...,1680,Residential,NaN,1742 SWANN STREET NW,20009.0,18S UJ 23078 09288,38.914683,-77.040629,Ward 2,152
4,2,1,Warm Cool,Y,3,NaN,NaN,U,5255.0,3 Story,...,2032,Residential,NaN,1804 NEW HAMPSHIRE AVENUE NW,20009.0,18S UJ 23188 09253,38.914383,-77.039361,Ward 2,152

In [3]:
final_df=isolated_pd.loc[isolated_pd['QUALIFIED']=='Q']

In [4]:
final=final_df.fillna(value={'GBA':0.0,'LIVING_GBA':0.0})
final["Combined_GBA"]=final["GBA"]+final['LIVING_GBA']

In [12]:
heatindicators=pd.get_dummies(final["HEAT"])
heatindicators.mean()
zipcode_ind=pd.get_dummies(final["ZIPCODE"])
zipcode_ind.mean()
ward_ind=pd.get_dummies(final["WARD"])
ward_ind.mean()
final['WARD'].value_counts()
struct_ind=pd.get_dummies(final['STRUCT'], columns=['default','multi','row_end','row_inside','semi_detached','single','town_end','town_inside'])
struct_ind.head()
ac_ind=pd.get_dummies(final["AC"])
res_ind=pd.get_dummies(final["SOURCE"])
dummies=pd.DataFrame({
    'Y': ac_ind.Y,
    'ward_1': ward_ind['Ward 1'],
    'ward_2': ward_ind['Ward 2'],
    'ward_3': ward_ind['Ward 3'],
    'ward_4': ward_ind['Ward 4'],
    'ward_5': ward_ind['Ward 5'],
    'ward_6': ward_ind['Ward 6'],
    'ward_7': ward_ind['Ward 7'],
    'ward_8': ward_ind['Ward 8'],
    'default':struct_ind['Default'],
    'multi':struct_ind['Multi'],
    'row_end':struct_ind['Row End'],
    'row_inside':struct_ind['Row Inside'],
    'semi_detached':struct_ind['Semi-Detached'],
    'single':struct_ind['Single'],
    'town_end':struct_ind['Town End'],
    'town_inside':struct_ind['Town Inside'],
    'log_GBA_RES_IND':np.log(final['Combined_GBA'])*res_ind.Residential,
    'GBA_RES_IND':final['Combined_GBA']*res_ind.Residential,
    'Residential':res_ind.Residential,
    'log_price':np.log(final['PRICE']),
    'log_Combined_GBA':np.log(final['Combined_GBA']),
    'priceinhunthou':final['PRICE']/100000
})
res_ind.head()
ac_ind=pd.get_dummies(final['AC'])
#ac_ind.mean()
really_final=pd.concat([final,dummies],sort=False,axis=1)
really_final
#col_names=list(final)

,BATHRM,HF_BATHRM,HEAT,AC,BEDRM,SALEDATE,PRICE,QUALIFIED,GBA,STYLE,...,semi_detached,single,town_end,town_inside,log_GBA_RES_IND,GBA_RES_IND,Residential,log_price,log_Combined_GBA,priceinhunthou
0,4,0,Warm Cool,Y,4,2003-11-25 00:00:00,1095000.0,Q,2522.0,3 Story,...,0,0,0,0,7.832808,2522.0,1,13.906265,7.832808,10.95000
2,3,1,Hot Water Rad,Y,5,2016-06-21 00:00:00,2100000.0,Q,2522.0,3 Story,...,0,0,0,0,7.832808,2522.0,1,14.557448,7.832808,21.00000
3,3,1,Hot Water Rad,Y,5,2006-07-12 00:00:00,1602000.0,Q,2484.0,3 Story,...,0,0,0,0,7.817625,2484.0,1,14.286763,7.817625,16.02000
5,3,2,Hot Water Rad,Y,5,2010-02-26 00:00:00,1950000.0,Q,5344.0,4 Story,...,0,0,0,0,8.583730,5344.0,1,14.483340,8.583730,19.50000
7,3,1,Hot Water Rad,Y,4,2011-09-29 00:00:00,1050000.0,Q,2401.0,3 Story,...,0,0,0,0,7.783641,2401.0,1,13.864301,7.783641,10.50000
8,3,1,Warm Cool,Y,3,2018-05-03 00:00:00,1430000.0,Q,1488.0,2 Story,...,0,0,0,0,7.305188,1488.0,1,14.173185,7.305188,14.30000
14,3,1,Warm Cool,Y,3,2011-09-30 00:00:00,1325000.0,Q,2692.0,2 Story,...,0,0,0,0,7.898040,2692.0,1,14.096923,7.898040,13.25000
16,3,1,Warm Cool,Y,3,2010-11-04 00:00:00,1240000.0,Q,1662.0,2 Story,...,0,0,0,0,7.415777,1662.0,1,14.030622,7.415777,12.40000
19,3,1,Hot Water Rad,Y,3,2001-07-23 00:00:00,592250.0,Q,1598.0,2 Story,...,0,0,0,0,7.376508,1598.0,1,13.291684,7.376508,5.92250
22,1,0,Forced Air,Y,3,2006-01-09 00:00:00,907400.0,Q,1790.0,2 Story,...,1,0,0,0,7.489971,1790.0,1,13.718339,7.489971,9.07400
23,2,1,Forced Air,Y,3,2012-08-21 00:00:00,1065000.0,Q,1600.0,2 Story,...,1,0,0,0,7.377759,1600.0,1,13.878485,7.377759,10.65000
24,2,1,Hot Water Rad,Y,3,2012-07-25 00:00:00,1100000.0,Q,1958.0,2 Story,...,0,1,0,0,7.579679,1958.0,1,13.910821,7.579679,11.00000
27,3,0,Hot Water Rad,Y,3,2005-04-06 00:00:00,703700.0,Q,2520.0,3 Story,...,0,0,0,0,7.832014,2520.0,1,13.464107,7.832014,7.03700
29,3,1,Forced Air,Y,3,2013-12-11 00:00:00,1210000.0,Q,2520.0,3 Story,...,0,0,0,0,7.832014,2520.0,1,14.006131,7.832014,12.10000
32,2,1,Forced Air,Y,2,1999-03-30 00:00:00,130500.0,Q,2568.0,3 Story,...,0,0,0,0,7.850883,2568.0,1,11.779129,7.850883,1.30500
40,3,1,Forced Air,Y,4,2006-08-28 00:00:00,1050000.0,Q,2504.0,3 Story,...,0,0,0,0,7.825645,2504.0,1,13.864301,7.825645,10.50000
41,3,1,Warm Cool,Y,4,2016-09-14 00:00:00,1550000.0,Q,2552.0,3 Story,...,0,0,0,0,7.844633,2552.0,1,14.253765,7.844633,15.50000
42,3,1,Forced Air,Y,4,2015-09-16 00:00:00,1599900.0,Q,2520.0,3 Story,...,0,0,0,0,7.832014,2520.0,1,14.285452,7.832014,15.99900
43,3,1,Forced Air,Y,4,2018-03-30 00:00:00,1700000.0,Q,2382.0,3 Story,...,0,0,0,0,7.775696,2382.0,1,14.346139,7.775696,17.00000
44,3,2,Forced Air,Y,4,2017-05-01 00:00:00,1700000.0,Q,2520.0,3 Story,...,0,0,0,0,7.832014,2520.0,1,14.346139,7.832014,17.00000
46,3,1,Warm Cool,Y,4,2011-03-18 00:00:00,846000.0,Q,2610.0,3 Story,...,0,0,0,0,7.867106,2610.0,1,13.648275,7.867106,8.46000
50,2,1,Forced Air,Y,3,2009-10-05 00:00:00,849000.0,Q,2700.0,3 Story,...,0,0,0,0,7.901007,2700.0,1,13.651814,7.901007,8.49000
52,3,1,Forced Air,Y,4,2006-08-08 00:00:00,1312000.0,Q,1468.0,2 Story,...,0,0,0,0,7.291656,1468.0,1,14.087063,7.291656,13.12000
55,3,1,Forced Air,Y,3,2004-12-20 00:00:00,772500.0,Q,1440.0,2 Story,...,0,0,0,0,7.272398,1440.0,1,13.557387,7.272398,7.72500
58,1,0,Hot Water Rad,N,1,2010-07-02 00:00:00,499000.0,Q,1104.0,2 Story,...,1,0,0,0,7.006695,1104.0,1,13.120361,7.006695,4.99000
59,2,0,Hot Water Rad,N,2,2000-03-01 00:00:00,216000.0,Q,1104.0,2 Story,...,1,0,0,0,7.006695,1104.0,1,12.283034,7.006695,2.16000
61,3,1,Forced Air,Y,3,2002-08-29 00:00:00,636090.0,Q,1389.0,2 Story,...,0,0,0,0,7.236339,1389.0,1,13.363095,7.236339,6.36090
62,4,2,Elec Base Brd,Y,5,2014-03-05 00:00:00,1599000.0,Q,3162.0,4 Story,...,0,0,0,0,8.058960,3162.0,1,14.284889,8.058960,15.99000
65,3,1,Hot Water Rad,Y,3,1995-10-23 00:00:00,380000.0,Q,2192.0,3 Story,...,0,0,0,0,7.692570,2192.0,1,12.847927,7.692570,3.80000
66,4,0,Forced Air,Y,5,2012-11-02 00:00:00,1295000.0,Q,2751.0,3 Story,...,0,0,0,0,7.919720,2751.0,1,14.074021,7.919720,12.95000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158907,1,0,Forced Air,Y,1,2014-05-12 00:00:00,437041.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.987782,6.492240,4.37041
158910,2,0,Forced Air,Y,1,2015-06-12 00:00:00,331500.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.711383,6.315358,3.31500
158911,2,0,Forced Air,Y,2,2015-10-19 00:00:00,405000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.911642,6.511745,4.05000
158912,2,0,Forced Air,Y,2,2009-02-13 00:00:00,185000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.128111,6.315358,1.85000
158914,2,1,Forced Air,Y,2,2015-01-07 00:00:00,549000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.215854,6.891626,5.49000
158915,1,0,Forced Air,Y,1,2015-01-07 00:00:00,441000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.996800,6.391917,4.41000
158916,1,0,Forced Air,Y,1,2015-03-11 00:00:00,409000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.921470,6.403574,4.09000
158920,3,1,Ht Pump,Y,3,2017-05-01 00:00:00,880000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.687677,7.475339,8.80000
158921,3,1,Ht Pump,Y,3,2017-04-11 00:00:00,1120000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.928839,7.514255,11.20000
158924,1,0,Ht Pump,Y,2,2004-11-03 00:00:00,269000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.502467,6.648985,2.69000
158926,1,0,Ht Pump,Y,2,2014-06-20 00:00:00,385000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.860999,6.648985,3.85000
158928,2,1,Ht Pump,Y,2,2017-05-24 00:00:00,632400.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.357277,7.003065,6.32400
158929,2,1,Ht Pump,Y,2,2012-12-19 00:00:00,574000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.260385,7.029973,5.74000
158930,2,0,Forced Air,N,2,2007-06-25 00:00:00,365000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.807653,6.897705,3.65000
158931,2,1,Forced Air,N,2,2005-07-06 00:00:00,405000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.911642,6.824374,4.05000
158932,2,1,Forced Air,N,2,2014-07-09 00:00:00,505000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.132314,6.848005,5.05000
158933,2,0,Ht Pump,Y,2,2017-01-12 00:00:00,520000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.161584,6.678342,5.20000
158934,1,1,Ht Pump,Y,1,2017-02-23 00:00:00,499900.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.122163,6.508769,4.99900
158935,1,0,Ht Pump,Y,1,2016-12-28 00:00:00,451000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.019223,6.311735,4.51000
158936,1,0,Ht Pump,Y,1,2016-12-28 00:00:00,564900.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.244404,6.467699,5.64900
158938,2,0,Warm Cool,Y,4,2015-03-02 00:00:00,660000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.399995,7.253470,6.60000
158943,2,1,Forced Air,Y,2,2004-11-08 00:00:00,539000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.197471,7.516433,5.39000
158944,2,1,Forced Air,Y,2,2016-07-19 00:00:00,908500.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.719550,7.569412,9.08500
158945,1,0,Forced Air,Y,1,2006-07-13 00:00:00,450000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.017003,6.490724,4.50000
158946,1,0,Forced Air,Y,2,2015-02-11 00:00:00,485355.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.092636,6.706862,4.85355
158948,2,0,Forced Air,Y,2,2012-10-22 00:00:00,460000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.038982,6.839476,4.60000
158949,1,1,Forced Air,Y,1,2015-06-09 00:00:00,550000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,13.217674,7.023759,5.50000
158952,1,0,Forced Air,Y,1,2015-04-03 00:00:00,399900.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.898970,6.459904,3.99900
158953,1,0,Forced Air,Y,2,2013-10-04 00:00:00,416000.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.938441,6.709304,4.16000
158955,1,0,Warm Cool,Y,0,2015-04-14 00:00:00,215100.0,Q,0.0,NaN,...,0,0,0,0,0.000000,0.0,0,12.278858,6.102559,2.15100

In [16]:
In [11]: y, X = dmatrices('priceinhunthou ~ Combined_GBA + GBA_RES_IND + Residential + Y + ward_8 + ward_2 + ward_3 + ward_4 + ward_5 + ward_6 + ward_7', data=really_final, return_type='dataframe')

In [24]:
mod = sm.OLS(y, X)
res = mod.fit(cov_type='HC1')

In [25]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         priceinhunthou   R-squared:                       0.560
Model:                            OLS   Adj. R-squared:                  0.560
Method:                 Least Squares   F-statistic:                     3559.
Date:                Fri, 26 Apr 2019   Prob (F-statistic):               0.00
Time:                        15:29:14   Log-Likelihood:            -1.9933e+05
No. Observations:               76233   AIC:                         3.987e+05
Df Residuals:                   76221   BIC:                         3.988e+05
Df Model:                          11
Covariance Type:                  HC1
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -2.3816      0.114    -20.900      0.000      -2.605      -2.158
Combined_GBA     0.0056      0.000     43.162      0.000       0.005       0.006
GBA_RES_IND     -0.0017      0.000     -9.590      0.000      -0.002      -0.001
Residential      1.7148      0.228      7.525      0.000       1.268       2.161
Y                1.6155      0.030     54.097      0.000       1.557       1.674
ward_8          -3.4900      0.049    -70.623      0.000      -3.587      -3.393
ward_2           1.7035      0.048     35.612      0.000       1.610       1.797
ward_3           0.3243      0.053      6.071      0.000       0.220       0.429
ward_4          -1.7722      0.040    -44.277      0.000      -1.851      -1.694
ward_5          -1.9612      0.043    -46.022      0.000      -2.045      -1.878
ward_6          -0.1995      0.037     -5.372      0.000      -0.272      -0.127
ward_7          -2.9978      0.058    -51.697      0.000      -3.111      -2.884
==============================================================================
Omnibus:                    93097.628   Durbin-Watson:                   1.419
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        107686351.030
Skew:                           5.811   Prob(JB):                         0.00
Kurtosis:                     186.759   Cond. No.                     1.88e+04
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 1.88e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [21]:
final.PRICE.describe()

count    7.623300e+04
mean     5.453246e+05
std      4.985197e+05
min      2.500000e+02
25%      2.685000e+05
50%      4.250000e+05
75%      6.825000e+05
max      2.200000e+07
Name: PRICE, dtype: float64